@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0d0d0d;
  --textColor: #191a1a;
  --component-bg: #1d1d1d;
  --textarea-bg: #1d1d1d;
  --accent: #b91c1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #111111; */
    --background: #0f0e0e;
    --textColor: #595959;
    --foreground: #ededed;
  }
}

body {
  color: var(--textColor);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-image: 
    repeating-linear-gradient(
      135deg,
      #232323 0px,
      #232323 1px,
      transparent 1px,
      transparent 8px
    );
    mask-image: radial-gradient(ellipse 120% 80% at 70% 20%, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 70%);
   z-index: -1;
  pointer-events: none;
}  */

/* body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-image: 
    repeating-linear-gradient(
      135deg,
      #181818 0px,
      #181818 1px,
      transparent 1px,
      transparent 8px
    );
   z-index: -1;
  pointer-events: none;
}  */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.component-bg {

  /* background: rgb(26, 26, 26); */
  /* background: rgb(33, 31, 31); */
  background: rgb(28, 28, 28);
  /* background: rgba(46, 46, 46, 0.5); */
  /* background-color: var(--background); */
  border-radius: 40px;
  /* border: 1px solid rgb(37, 37, 37); */
  /* border: 1px solid rgb(42, 42, 42); */
  /* border-top: 1.5px solid rgb(40, 40, 40); */
  /* backdrop-filter: blur(10px); */
  /* border-top: 1px solid rgb(84, 84, 84); */
  /* box-shadow: 0px 20px 20px #0f0f0f80; */
}

.textarea-bg {
  background: linear-gradient(to top, #141414FF 0%, #202020 100%) border-box;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-top: 1px solid rgb(84, 84, 84);
}

.cursor-custom {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="12" cy="12" r="10" fill="red"/></svg>') 12 12, all;
}